In [1]:
import zipfile as zp
import numpy as np
import pandas as pd
import re
from sklearn.linear_model import LogisticRegression 
import gc

In [3]:
df = pd.read_csv('train.zip', index_col = 0)
df

                                                   visits
id
1        30 84 126 135 137 179 242 342 426 456 460 462...
2        24 53 75 134 158 192 194 211 213 238 251 305 ...
3        51 143 173 257 446 491 504 510 559 616 719 73...
4        1 20 22 92 124 149 211 335 387 390 406 460 48...
5        34 51 56 106 110 121 163 233 266 275 345 359 ...
...                                                   ...
299996   6 12 15 30 33 48 49 50 55 56 70 74 76 83 84 9...
299997   4 7 12 18 19 35 41 53 55 60 75 77 81 82 91 95...
299998   1 9 15 17 29 31 42 49 62 74 85 105 109 113 11...
299999   2 4 6 14 18 19 25 32 34 39 40 42 48 49 60 62 ...
300000   1 6 7 13 18 21 22 31 33 35 40 41 54 55 56 57 ...

[300000 rows x 1 columns]

# Обработка всего сета

In [21]:
def Predict(df):
    import pandas as pd
    id_i_visit = pd.DataFrame({'Days': df.str.split(' ')[0]}).iloc[1:].astype(int)
    id_i_visit.Days = id_i_visit.Days.agg(lambda x: x % 7 + 1)
    return id_i_visit.Days.value_counts(normalize = True, sort = False).argmax(axis = -1) + 1

In [22]:
from IPython.display import HTML, display
import time
def progress(value, max=100):
    return HTML("""
        <progress
            value='{value}'
            max='{max}',
            style='width: 100%'
        >
            {value}
        </progress>
    """.format(value=value, max=max))

In [23]:
%%time
import csv
n = df.shape[0]
solution = pd.DataFrame()
solution.to_csv('/content/drive/MyDrive/ML/DA/submission.csv')
out = display(progress(0, 100), display_id=True)
with open('/content/drive/MyDrive/ML/DA/submission.csv', 'w', newline='') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONE)
    writer.writerow(['id','nextvisit'])
    for i in range(n):
        writer.writerow([str(int(i + 1)), str(int(Predict(df.iloc[i])))])
        out.update(progress(i, n)) 
    f.close()

CPU times: user 27min 2s, sys: 2min 13s, total: 29min 15s
Wall time: 31min 55s